<div class="dashboard_body">


    <p class="greeting">Welcome {{user.firstName}} {{user.lastName}}</p>

    {{!-- <p class="greeting">Our new logo. Comming soon!</p>

    
    <img src="/images/logo/logof.png" alt="logo" class="logo_png">--}}
  
<p class="sub_greet">
{{!-- Welcome to Dashboard<br>Good things comming soon!!! --}}
<a href="/movies/add" class="signup-button" style="padding: 10px;">Add new movie</a>
</p> 


</div>
