 <br>

    <div class="sec-title">
      <p>All movies and TV Shows</p>
    </div>

    <br>

    <div class="display-sec">
      {{#each item}}
      <div class="display-movie">
          <a href="/movies/movieDesc/{{this.id}}">
        <img src="/images/regPosters/{{this.regPoster}}" alt="{{this.movieName}}">
        <p>{{this.movieName}}</p>
        </a>
      </div>
      {{/each}}
    </div>